* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
}

#app {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #1e293b;
    color: white;
    padding: 20px;
}

.sidebar h1 {
    font-size: 18px;
    margin-bottom: 20px;
}

.sidebar p {
    font-size: 16px;
    margin-bottom: 10px;
}

.sidebar ul {
    margin-left: 40px;
}

.sidebar ul li {
  margin: 10px 0;
  cursor: pointer;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f5f3f6; 
}

.topbar {
  padding: 10px;
  background-color: #ffffff;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.chat-area {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.message {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar.bot {
  background-color: #22c55e;
  color: white;
}

.avatar.user {
  background-color: #3b82f6;
  color: white;
}

.bubble {
  background: white;
  padding: 8px ;
  border-radius: 8px;
  max-width: 70%;
  border: 1px solid #ddd;
  font-size: 14px;
  line-height: 1.4;
}

#composer {
  border-top: 1px solid #ddd;
  padding: 10px;
  background: #fafafa;
}

.composer {
  display: flex;
  gap: 10px;
}

.composer input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.composer button {
  background-color:  #3b82f6;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
}